@model IEnumerable<FrameworkV1.Core.Contracts.Models.Person>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var person in Model)
                {
                    <tr>
                        <td>@person.Id</td>
                        <td>@person.FirstName</td>
                        <td>@person.LastName</td>
                        <td>
                            @*<a asp-page="./GetPerson" asp-route-id="@person.Id">edit</a>
                            <button type="submit" asp-page-handler="delete"
                                    asp-route-id="@person.Id">delete</button>*@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
